# Business Objective
##### I will analyze health insurance data to predict future insurance claim amount and identify factors leading to higher costs. The data consists of 1,338 people with 7 attributes that describe health and demographic information such as  age, gender, BMI, and smoking status.

# Installing required modules

In [4]:
! pip install numpy
! pip install pandas
! pip install seaborn
! pip install matplotlib
! pip install plotly

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: numpy in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (1.21.5)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\VAClemor\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\VAClemor\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: pandas in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     -------------------------------------- 292.8/292.8 KB 3.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: scipy>=1.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.7.3)
Requirement already satisfied: numpy>=1.15 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib>=2.2 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.28.5)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.11.2

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\VAClemor\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: matplotlib in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (3.5.1)
Requirement already satisfied: packaging>=20.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: cycler>=0.10 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.28.5)
Requirement already satisfied: six>=1.5 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\VAClemor\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\VAClemor\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: plotly in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (5.5.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from plotly) (8.0.1)
Requirement already satisfied: six in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from plotly) (1.16.0)

# Data Overview

In [7]:
! pip install sklearn

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp310-cp310-win_amd64.whl (7.3 MB)
     ---------------------------------------- 7.3/7.3 MB 18.1 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\vaclemor\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.7.3)
Collecting joblib>=1.0.0
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     ---------------------------------------- 307.0/307.0 KB ? eta 0:00:00
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=9f3f0a974f011ef09a2d780a356013561aac1fe1d97edcd337e75693ff0fc644
  Stored in directory: C:\Users\VAClemor\AppData\Local\Temp\pip-ephem-wheel-cache-nr6hkwtm\wheels\9b\13\01\6f3a7fd641f90e1f6c8c7cded057f3394f451f340371c68f3d
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.1.1 sklearn-0.0 threadpoolctl-3.1.0

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\VAClemor\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import plot, iplot, init_notebook_mode
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import r2_score, mean_squared_error

### Loading Data

In [74]:
datafile = pd.read_csv("./insurance.csv")

In [75]:
datafile

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

### Validating data integrity

In [76]:
print("There are {:,} records and {} columns in this data set".format(datafile.shape[0], datafile.shape[1]))
print("There are {} missing values in the data as shown below".format(datafile.isna().sum().sum()))
print("{}".format(datafile.isna().sum()))
datafile['sex'] = datafile['sex'].str.capitalize()
datafile['smoker'] = datafile['smoker'].apply(lambda x: 'Smoker' if x=='yes' else 'Non-Smoker')
datafile['region'] = datafile['region'].str.capitalize()

There are 1,338 records and 7 columns in this data set
There are 0 missing values in the data as shown below
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

### Summary Statistics of Data

In [77]:
datafile.describe().T

,count,mean,std,min,25%,50%,75%,max
age,1338.0,39.207025,14.049960,18.0000,27.00000,39.000,51.000000,64.00000
bmi,1338.0,30.663397,6.098187,15.9600,26.29625,30.400,34.693750,53.13000
children,1338.0,1.094918,1.205493,0.0000,0.00000,1.000,2.000000,5.00000
charges,1338.0,13270.422265,12110.011237,1121.8739,4740.28715,9382.033,16639.912515,63770.42801

In [78]:
### Data Categorical Statistics

In [79]:
datafile.select_dtypes(include=['object']).describe()

         sex      smoker     region
count   1338        1338       1338
unique     2           2          4
top     Male  Non-Smoker  Southeast
freq     676        1064        364

### Finding Average Claim Amount

In [80]:
cost = datafile.select_dtypes(include=['object']).columns.tolist()
for i in cost:
    total = datafile[i].value_counts()
    claim_amount = datafile.groupby(i)["charges"].mean()
    display(pd.DataFrame({"Number of individuals" :total, "Claim Amount" :claim_amount.map('${:,.2f}'.format)})\
        .sort_values("Number of individuals", ascending=False)\
        .style.set_caption("Variable by {}".format(i)))